<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<body>
	<h1>Ajouter un nouveau film</h1>

	<form action="/add-movie">
    <span>Titre :         </span><input name="title" type="text" placeholder=" ex : FIght Club" />
    <br><br>
    <span>Description  : </span><input name="description" type="text" placeholder="ex : Ils vécurent heureux et eurent beaucoup d'enfants">
    <br><br>
    <span>Acteurs :       </span><input type="text" name="actors" placeholder=" ex : Brad Pitt " />
    <br><br>
    <span>Url de l'affiche  : </span><input type="text" name="posterUrl" placeholder="ex : https://m.media-amazon.c....." />
    <br><br>
    <span>Année :            </span><input type="text" name="year" placeholder="ex : 1999" />
    <br><br>
    <button type="submit">Valider</button>

</form>

<form action="/">
    <button type="submit">retour
menu</button>
</form>



</body>
</body>
</html>
<html>